Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-app1, build-app2, build-app3, trigger-all, app1

test
  .circleci/test.sh
  .circleci/workflows.yml
Due: trigger-all

test
  .circleci/workflows.yml
Due: trigger-all

Create .mergify.yml
  .mergify.yml
Due: none

Update app2.txt
  apps/app2/app2.txt
Due: build-app2

Update .mergify.yml
  .mergify.yml
Due: none

Update app1.txt
  apps/app1/app1.txt
Due: build-app1, app1

Update test
  apps/app2/test
Due: build-app2

Update test
  apps/app3/test
Due: build-app3

Update config.yml
  .circleci/config.yml
Due: trigger-all

fix
  .circleci/applications/app1.yml
  .circleci/applications/app2.yml
  .circleci/applications/app3.yml
  .circleci/common.yml
  .circleci/config.yml
  .circleci/test.sh
  .circleci/workflows.yml
  .circleci/workflows2.yml
  .mergify.yml
Due: trigger-all

fix
  apps/app1/test.txt
Due: build-app1, app1

fix
  .circleci/config.yml
Due: trigger-all

fix
  apps/app1/app1.txt
Due: build-app1, app1

fix
  .circleci/applications/app1.yml
  .circleci/common.yml
Due: trigger-all

fix
  .circleci/applications/app1.yml
  .circleci/config.yml
  apps/app1/app1.txt
Due: build-app1, trigger-all, app1

fix
  .circleci/applications/backend/app1.yml
  .circleci/applications/backend/app2.yml
  .circleci/applications/backend/app3.yml
  .circleci/applications/frontend/app1.yml
  .circleci/applications/frontend/app2.yml
  .circleci/applications/frontend/app3.yml
  .circleci/config.yml
  apps/frontend/app1/app1.txt
  apps/frontend/app2/app1.txt
  apps/frontend/app3/app1.txt
Due: trigger-all

fix
  .circleci/applications/backend/app1.yml
  apps/app1/app1.txt
Due: build-app1, trigger-all, app1

fix
  .circleci/applications/backend/app1.yml
Due: trigger-all

Path conditions:
  build-app1: any of: apps/app1/.*
  build-app2: any of: apps/app2/.*
  build-app3: any of: apps/app3/.*
  trigger-all: any of: .circleci/.*
  app1: any of: apps/app1/.*
