Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2, app3, trigger-all

test
  .circleci/workflows.yml
  apps/app3/app3.txt
Due: app3, trigger-all

test
  .circleci/workflows.yml
Due: trigger-all

test
  apps/app2/app2.txt
Due: app2

test
  apps/app1/app1.txt
  apps/app2/app2.txt
Due: app1, app2

test
  apps/app3/app3.txt
Due: app3

test
  apps/app1/app1.txt
Due: app1

Path conditions:
  app1: any of: apps/app1/.*
  app2: any of: apps/app2/.*
  app3: any of: apps/app3/.*
  trigger-all: any of: .circleci/.*
