Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2, app3, trigger-all

test
  .circleci/workflows.yml
Due: trigger-all

test
  apps/app1/test.txt
Due: app1

test
  apps/app1/app1.txt
Due: app1

test
  .circleci/config.yml
Due: trigger-all

test
  apps/app3/app3.txt
Due: app3

test
  apps/app2/app2.txt
Due: app2

Update app2.txt
  apps/app2/app2.txt
Due: app2

test
  apps/app1/app1.txt
  apps/app2/app2.txt
  apps/app3/app3.txt
Due: app1, app2, app3

test
  .circleci/config.yml
  .circleci/workflows.yml
Due: trigger-all

Update app3.txt
  apps/app3/app3.txt
Due: app3

Update config.yml
  .circleci/config.yml
Due: trigger-all

Update test.txt
  apps/app1/test.txt
Due: app1

Create test
  apps/app2/test
Due: app2

Path conditions:
  app1: any of: apps/app1/.*
  app2: any of: apps/app2/.*
  app3: any of: apps/app3/.*
  trigger-all: any of: .circleci/.*
