Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2, app3

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  run-requierd-builds:
    jobs:
      - path-filtering/filter:
          mapping: |
            apps/app1/.* app1 true
            apps/app2/.* app2 true
            apps/app3/.* app3 true
            apps/app3/.* app2 true
          config-path: .circleci/workflows.yml

.circleci/config2.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: circleci-project-setup
          mapping: |
            apps/app1/.* app1 true
          config-path: .circleci/workflows.yml

test
  apps/app2/app2.txt
Due: app2

test
  .circleci/workflows.yml
Due: none

test
  apps/app1/app1.txt
Due: app1

test
  apps/app1/test.txt
Due: app1

test
  .circleci/workflows.yml
  apps/app1/app1.txt
Due: app1

test
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
  .circleci/workflows.yml
Due: none
