Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2, app3

test
  apps/app1/app1.txt
Due: app1

4b825dc642cb6eb9a060e54bf8d69288fbee4904
  apps/app1/app1.txt
Due: app1

test
  .circleci/config.yml
Due: none

test
  .circleci/workflows.yml
Due: none

test
  .circleci/workflows.yml
  apps/app1/app1.txt
  apps/app2/app2.txt
  apps/app3/app3.txt
Due: app1, app2, app3

test
  .circleci/config.yml
  apps/app1/.circleci/app1.yml
  apps/app1/app1.txt
Due: app1

test
  .circleci/config.yml
  apps/app1/.circleci/config.yml
Due: app1

test
  .circleci/app1.yml
  .circleci/config.yml
  apps/app1/.circleci/config.yml
Due: app1

test
  .circleci/app1.yml
  .circleci/config.yml
Due: none

test
  .circleci/config.yml
  .circleci/workflows.yml
  apps/app1/.circleci/app1.yml
Due: app1

test
  .circleci/workflows.yml
  apps/app1/.circleci/app1.yml
Due: app1

test
  .circleci/workflows.yml
  apps/app1/app1.txt
Due: app1

test
  .circleci/app1.yml
  .circleci/workflows.yml
Due: none

test
  .circleci/app1.yml
  apps/app1/app1.txt
Due: app1

test
  .circleci/workflows.yml
  apps/app1/.circleci/app1.yml
  apps/app1/.circleci/config.yml
Due: app1

test
  .circleci/config.yml
  .circleci/workflows.yml
Due: none

test
  .circleci/config.yml
  .circleci/workflows2.yml
Due: none

test
  .circleci/config2.yml
Due: none

Path conditions:
  app1: any of: apps/app1/.*
  app2: any of: apps/app2/.*
  app3: any of: apps/app3/.*
