Repository jakubtomiak97/circle_dynamic_test: changes, and which CircleCI parameters are due for each by the changed paths.
All: app1, app2, app3, trigger-all

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
  continuation: circleci/continuation@0.2.0
workflows:
  run-requierd-builds:
    jobs:
      - path-filtering/filter:
          base-revision: main
          mapping: |
            apps/app1/.* app1 true
            apps/app2/.* app2 true
            apps/app3/.* app3 true
            .circleci/.* trigger-all true 
          config-path: .circleci/workflows.yml

.circleci/config2.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.3
workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: circleci-project-setup
          mapping: |
            apps/app1/.* app1 true
          config-path: .circleci/workflows.yml

test
  .circleci/workflows.yml
Due: trigger-all

Update app3.txt
  apps/app3/app3.txt
Due: app3

Update app2.txt
  apps/app2/app2.txt
Due: app2

Create test
  apps/app3/test
Due: app3

Create test
  apps/app2/test
Due: app2

Update config.yml
  .circleci/config.yml
Due: trigger-all

Update test
  apps/app2/test
Due: app2

Update test.txt
  apps/app1/test.txt
Due: app1

Update test
  apps/app3/test
Due: app3

test
  apps/app1/test.txt
Due: app1

test
  apps/app2/test
Due: app2

test
  apps/app3/test
Due: app3

test
  .circleci/config.yml
  apps/app1/config.yml
  apps/app2/.circleci/config.yml
Due: app1, app2, trigger-all

test
  apps/app2/.circleci/config.yml
Due: app2

test
  .circleci/config.yml
  .circleci/workflows.yml
  apps/app1/config.yml
  apps/app2/.circleci/config.yml
Due: app1, app2, trigger-all

test
  apps/app1/app1.txt
Due: app1
